{% extends "base.html" %}

{% block content %}

  <h1>Buggy</h1>

  <table>
    <tr>
      <td>ID:</td> <td> {{ buggy['id'] }} </td>
    </tr>

    <tr>
      <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
    </tr>

    <tr>
      <td>Flag Colour:</td> <td> {{ buggy['flag_color'] }} </td>
    </tr>

    <tr>
      <td>Armour:</td> <td> {{ buggy['armour'] }} </td>
    </tr>

    <tr>
      <td>Power:</td> <td> {{ buggy['power_type'] }} </td>
    </tr>

    <tr>
      <td>Total Cost:</td> <td> {{ buggy['total_cost'] }} </td>
    </tr>

  </table>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
